{% extends 'base.html' %}

{% load staticfiles bootstrap_forms %}

{% block menu_customer %}active{% endblock %}

{% block contentheader %}
    <h1>
      Customers
      <small>List</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="{% url 'customer_list' %}"><i class="fa fa-user-circle-o"></i> Customers</a></li>
      <li class="active">List</li>
    </ol>
{% endblock contentheader %}

{% block content %}
<a href="{% url 'customer_create' %}" class="btn btn-primary">
  <i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Create new customer
</a>

<div id="customers" class="box">
  <div class="box-body">
    <table class="table table-hover">
        <thead>
          <tr>
            <th style="width:24px;"></th>
            <th>Username</th>
            <th>UUID</th>
            <th>Reseller</th>
            <th>E-mail</th>
            <th class="text-center">Servers</th>
            <th class="text-center">Base credits</th>
            <th class="text-center">Edit</th>
            <th class="text-center">Delete</th>
          </tr>
        </thead>
        <tbody>
            {% for customer in object_list %}
            <tr>
              <td><i class="fa fa-user"></i></td>
              <td>{{ customer.user.username }}</td>
              <td>{{ customer.user.profile.uuid }}</td>
              <td>{{ customer.reseller }}</td>
              <td>{{ customer.user.email }}</td>
              <td class="text-center">
                {{ customer.user.server_set.count }} / {{ customer.servers_limit }}
              </td>
              <th class="text-center">{{ customer.base_credits }}</th>
              <td class="text-center"><a href="{% url 'customer_edit' customer.user.profile.uuid %}" class="table-btn btn btn-primary btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
              <td class="text-center"><a href="{% url 'customer_delete' customer.user.profile.uuid %}" class="table-btn btn btn-danger btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="7">No customers.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock content %}

{% block extendfoot %}{% endblock extendfoot %}