{% extends 'base.html' %}

{% load staticfiles bootstrap_forms %}

{% block menu_customer %}active{% endblock %}

{% block contentheader %}
    <h1>
      Customers
      <small>List</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="{% url 'customer_list' %}"><i class="fa fa-user-circle-o"></i> Customers</a></li>
      <li class="active">List</li>
    </ol>
{% endblock contentheader %}

{% block content %}

<!-- Modal -->
<div class="modal fade" id="create_customer" tabindex="-1" role="dialog" aria-labelledby="create_customer">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="create_customer">Create new customer</h4>
      </div>
      <form action="{% url 'create_customer' %}" method="POST">
      {% csrf_token %}
      <div class="modal-body">

        {{ user_form|as_bootstrap }}

        <p>
          <label for="password">Password</label>
          <input type="text" id="password" class="form-control" name="password" required>
        </p>

        {% if user.profile.account_type == 2 %}
        <p>
          <label for="reseller">Reseller</label>
          <select class="form-control" id="reseller" name="reseller">
              <option value="">---</option>
            {% for reseller in resellers %}
              <option value="{{ reseller.user.pk }}">{{ reseller.user }}</option>
            {% endfor %}
          </select>
        </p>
        {% endif %}

        <p>
          <label for="servers_limit">Servers limit</label>
          <input class="form-control" name="servers_limit" type="number" min="1" value="1" required>
        </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
      </form>
    </div>
  </div>
</div>

<button class="btn btn-primary" data-toggle="modal" data-target="#create_customer"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Create new customer</button>

<div id="customers" class="box">
  <div class="box-body">
    <table class="table table-hover">
        <thead>
          <tr>
            <th style="width:24px;"></th>
            <th>Username</th>
            <th>Reseller</th>
            <th>E-mail</th>
            <th class="text-center">Servers</th>
            <th class="text-center" title="Servers limit">Limit&nbsp;&nbsp;(<i class="fa fa-server"></i>)</th>
            <th class="text-center">Edit</th>
          </tr>
        </thead>
        <tbody>
            {% for customer in object_list %}
            <tr>
              <td><i class="fa fa-user"></i></td>
              <td>{{ customer.user.username }}</td>
              <td>{{ customer.reseller }}</td>
              <td>{{ customer.user.email }}</td>
              <td class="text-center">{{ customer.user.server_set.count }}</td>
              <td class="text-center">{{ customer.servers_limit }}</td>
              <td class="text-center"><a href="{% url 'customer_edit' customer.user.profile.uuid %}" class="table-btn btn btn-primary btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="7">No customers.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock content %}

{% block extendfoot %}{% endblock extendfoot %}