{% extends 'base.html' %}

{% load staticfiles bootstrap_forms %}

{% block menu_reseller %}active{% endblock %}

{% block contentheader %}
    <h1>
      Resellers
      <small>List</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-handshake-o"></i> Resellers</a></li>
      <li class="active">List</li>
    </ol>
{% endblock contentheader %}

{% block content %}

<a class="btn btn-primary" href="{% url 'reseller_create' %}">
  <i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Create new reseller
</a>

<div id="resellers" class="box">
  <div class="box-body">
    <table class="table table-hover">
        <thead>
          <tr>
            <th style="width:24px;"></th>
            <th>Username</th>
            <th>UUID</th>
            <th>E-mail</th>
            <th class="text-center">Customers</th>
            <th class="text-center">Servers</th>
            <th class="text-center">Base credits</th>
            <th class="text-center">Edit</th>
            <th class="text-center">Delete</th>
          </tr>
        </thead>
        <tbody>
            {% for reseller in object_list %}
            <tr>
              <td><i class="fa fa-user"></i></td>
              <td>{{ reseller.user.username }}</td>
              <td>{{ reseller.user.profile.uuid }}</td>
              <td>{{ reseller.user.email }}</td>
              <td class="text-center">
                {{ reseller.user.customer_set.count|default:0 }} / {{ reseller.customers_limit }}
              </td>
              <td class="text-center">
                {{ reseller.user.server_set.count }} / {{ reseller.servers_limit }}
              </td>
              <th class="text-center">{{ reseller.base_credits }}</th>
              <td class="text-center"><a href="{% url 'reseller_edit' reseller.user.profile.uuid %}" class="table-btn btn btn-primary btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
              <td class="text-center"><a href="{% url 'reseller_delete' reseller.user.profile.uuid %}" class="table-btn btn btn-danger btn-sm"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
            </tr>
            {% empty %}
            <tr>
              <td class="text-center" colspan="6">No customers</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock content %}

{% block extendfoot %}{% endblock extendfoot %}