{% extends 'base.html' %}

{% load staticfiles %}

{% block menu_updates %}active{% endblock %}

{% block contentheader %}
	<h1>
	  Updates
	</h1>
	<ol class="breadcrumb">
	  <li class="active"><a href="{% url 'updates' %}"><i class="fa fa-arrow-circle-o-up"></i> Updates</a></li>
	</ol>
{% endblock contentheader %}

{% block content %}
<div class="row">
  <div class="col-md-12">
	<div class="box">
		<div class="box-header">
		  <h3 class="box-title">Available updates</h3>
		</div>
		<div class="box-body no-padding">
			<table id="servers" class="table table-hover">
				<thead>
				  <tr>
					<th>Reported</th>
					<th>Server</th>
					<th>Package</th>
					<th>Version</th>
					<th>Action</th>
				  </tr>
				</thead>
				<tbody>
				{% for update in object_list %}
					<tr>
						<td>{{ update.datetime }}</td>
						<td>{{ update.server.hostname }}</td>
						<td>{{ update.package }}</td>
						<td>{{ update.version }}</td>
						<td>
						<div class="onoffswitch">
							<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switch_{{ update.pk }}" checked>
							<label class="onoffswitch-label" for="switch_{{ update.pk }}">
								<span class="onoffswitch-inner"></span>
								<span class="onoffswitch-switch"></span>
							</label>
						</div>
						</td>
					</tr>
				{% empty %}
					<tr>
						<td class="text-center" colspan="5">
							No updates available.
						</td>
					</tr>
				{% endfor %}
					
				</tbody>
			</table>
		</div>
	</div>
  </div>
</div>
{% endblock %}