{% extends 'base.html' %}

{% load staticfiles %}

{% block menu_server %}active{% endblock %}

{% block extendhead %}
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">

<script type="text/javascript">

function change_ignore(id) {
	$.ajax({
	  url: "/server/package/ignore/" + id
	});
}

function change_auto_updates() {

	var interval_link = document.getElementById("interval_link");
	$.ajax({
	  url: "/server/change/auto/{{ object.uuid }}/"
	}).done(function(data) {
		if (data == "False") {
			interval_link.style.display = "none";
		} else {
			interval_link.style.display = "block";
		}
		console.log(interval_link);
	});
}
</script>

{% endblock extendhead %}

{% block contentheader %}
	<h1>
		Server details
		<small>{{ object.hostname }}</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="{% url 'servers' %}"><i class="fa fa-server"></i> Servers</a></li>
		<li class="active">Details</li>
	</ol>
{% endblock contentheader %}

{% block content %}

<!-- Modal -->
<div class="modal fade" id="update_interval" tabindex="-1" role="dialog" aria-labelledby="update_interval">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="update_interval">Set update interval</h4>
      </div>
      <form action="{% url 'server_change_update_interval' object.uuid %}" method="POST">
      {% csrf_token %}
      <div class="modal-body">
  		<label for="interval_input">Interval (in hours)</label>
    	<input name="interval" value="{{ object.update_interval }}" intervalid="interval_input" type="number" min="1" max="24" class="form-control">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>

{% if request.GET.alert %}
<div class="alert alert-success alert-dismissible">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <h4><i class="icon fa fa-check"></i> Success!</h4>
  {% if request.GET.updated %}
    Your server has been updated successfully!
  {% endif %}
</div>
{% endif %}
<div class="row">
	<div class="server-details-buttons col-xs-12">
		{% if object.status == 1 %}
		<a href="{% url 'server_update_all' object.pk %}" class="btn btn-primary">Update server</a>
		{% endif %}
		<a href="{% url 'server_check_updates' object.pk %}" class="btn btn-primary">Check for updates</a>
		<a href="{% url 'server_edit' object.pk %}" class="btn btn-primary">Edit server</a>
		<a href="{% url 'server_delete' object.pk %}" class="btn btn-danger">Delete server</a>
		<div class="pull-right">
			<div class="automanualup">
				<div class="onoffswitch">
				    <input onclick="change_auto_updates();" type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" {% if object.auto_updates %}checked{% endif %}>
				    <label class="onoffswitch-label" for="myonoffswitch">
				        <span class="onoffswitch-inner"></span>
				        <span class="onoffswitch-switch"></span>
				    </label>
				</div>
			</div>
		<div id="interval_link" class="text-right" style="padding-right:5px;">
			<a data-toggle="modal" data-target="#update_interval" href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> Set interval</a>
		</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-5">
		<div class="box">
			<div class="box-header with-border">
				<h3 class="box-title">Server information</h3>
			</div>
			<div class="box-body">
				<table class="table table-bordered">
					<tbody>
						<tr>
							<td>
								UUID
							</td>
							<td>
								{{ object.uuid }}
							</td>
						</tr>
						<tr>
							<td>Status</td>
							<td id="status_cell">{{ object.show_status|safe }}</td>
						</tr>
						<tr>
							<td>OS</td>
							<td>{{ object.get_os_display }}</td>
						</tr>
						<tr>
							<td>Hostname</td>
							<td>{{ object.hostname }}</td>
						</tr>
						<tr>
							<td>IP</td>
							<td>{{ object.ip }}</td>
						</tr>
						<tr>
							<td>Port</td>
							<td>{{ object.ssh_port }}</td>
						</tr>
						{% if request.user.profile.account_type > 0 %}
						<tr>
							<td>Owner</td>
							<td>{{ object.user.username }}</td>
						</tr>
						{% endif %}
						{% if object.auto_updates %}
						<tr>
							<td>Update interval</td>
							<td>{{ object.update_interval }} hours</td>
						</tr>
						{% endif %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-7">
		<div class="box">
			<div class="box-header with-border">
				<h3 class="box-title">Server groups</h3>
			</div>
			<div class="box-body">
				<table class="table table-bordered table-hover">
						<tbody>
						{% for group in object.servergroup_set.all %}
							<tr class="link" data-href="{% url 'server_group' group.pk %}">
								<td>{{ group.name }}</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>

				{% if available_groups %}
				<br/>
				<form action="{% url 'assign_server_group' %}" method="POST">
				<label for="groupid">Assign server to group</label>

				<div class="input-group">
	                <select class="form-control" id="groupid" name="groupid">
						{% for group in available_groups %}
							<option value="{{ group.pk }}">{{ group.name }}</option>
						{% endfor %}
					</select>
                    <span class="input-group-btn">
						<input type="submit" value="Assign" class="btn btn-primary" />
                    </span>
	              </div>
					
					<input type="hidden" name="serverid" value="{{ object.pk }}" />
					{% csrf_token %}
				</form>
				{% endif %}

				{% if object.servergroup_set.all %}
				<br/>
				<form action="{% url 'remove_server_group' %}" method="POST">
					<label for="groupid">Remove server from grop</label>
					<div class="input-group">
		                <select class="form-control" id="groupid" name="groupid">
							{% for cat in request.user.servergroup_set.all %}
								<option value="{{ cat.pk }}">{{ cat.name }}</option>
							{% endfor %}
						</select>
	                    <span class="input-group-btn">
							<input type="submit" value="Remove" class="btn btn-danger" />
	                    </span>
	            	</div>
					<input type="hidden" name="serverid" value="{{ object.pk }}" />
					{% csrf_token %}
				</form>
				{% endif %}

				<br/>
				<form method="POST" action="{% url 'add_group' %}">
					{% csrf_token %}

					<label for="name">Add new group</label>
					<div class="input-group">
						<input type="text" name="name" class="form-control" placeholder="New category name">
						<div class="input-group-btn">
							<input type="submit" class="btn btn-success" value="Add new">
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
	</div>
</div>

{% if updates %}
<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header with-border">
				<h3 class="box-title">Updates</h3>
			</div>
			<div class="box-body no-padding">
				<table class="packages_updates table table-bordered table-hover">
					<thead>
						<tr>
							<th>Package name</th>
							<th>Version</th>
							<th class="text-center">Action</th>
							<th class="text-center">Manual update</th>
						</tr>
					</thead>
					<tbody>
						{% for update in updates %}
						<tr>
							<td>{{ update.package.name }}</td>
							<td>{{ update.version }}</td>
							<td>
								<div class="onoffswitch">
									<input onclick="change_ignore({{ update.id }});" type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switch_{{ update.pk }}" {{ update.check_ignore }}>
									<label class="onoffswitch-label" for="switch_{{ update.pk }}">
										<span class="onoffswitch-inner"></span>
										<span class="onoffswitch-switch"></span>
									</label>
								</div>
							</td>
							<td class="text-center">
								<a href="{% url 'package_manual_update' object.uuid update.package.name %}" class="table-btn btn btn-primary btn-sm"><i class="fa fa-arrow-circle-o-up"></i></a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endif %}

<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header with-border">
				<h3 class="box-title">Task history</h3>
			</div>
			<div class="box-body text-center">
			No history yet.
			</div>
		</div>
	</div>
</div>

{% endblock content %}

{% block extendfoot %}
<script>
var is_auto = {{ object.auto_updates|yesno:"true,false" }};
if (is_auto) {
	interval_link.style.display = "block";
} else {
	interval_link.style.display = "none";
}

$(document).ready( function() {
	var status_cell = $("#status_cell")

	function status_display() {
		$.ajax({
		  url: "/server/status/{{ object.uuid }}/?dspl=1"
		}).done(function(data) {
			status_cell.html(data);
		});
	}

    setInterval(status_display, 6000);
});
</script>

{% endblock extendfoot %}