.main-sidebar .sidebar {
	padding-top:5px;
}
.sidebar-menu li a.active {
	background-color: #161e21;
}

table#servers .devicon-debian-plain {
	color: #3c8dbc;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
	height: auto;
}