{% extends 'base.html' %}

{% load staticfiles %}

{% block menu_reseller %}active{% endblock %}

{% block contentheader %}
    <h1>
      Resellers
      <small>List</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-handshake-o"></i> Resellers</a></li>
      <li class="active">List</li>
    </ol>
{% endblock contentheader %}

{% block content %}
<button class="btn btn-primary"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Create new reseller</button>

<div id="resellers" class="box">
  <div class="box-body">
    <table class="table table-hover">
        <thead>
          <tr>
            <th style="width:24px;"></th>
            <th>Username</th>
            <th class="text-center">Customers</th>
            <th class="text-center" title="Customers limit">Limit&nbsp;&nbsp;(<i class="fa fa-user-circle-o"></i>)</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td><i class="fa fa-user"></i></td>
              <td>Username</td>
              <td class="text-center">1</td>
              <td class="text-center">1</td>
            </tr>
        </tbody>
    </table>
  </div>
</div>
{% endblock content %}

{% block extendfoot %}{% endblock extendfoot %}