{% extends 'base.html' %}

{% load staticfiles %}
{% block menu_homepage %}active{% endblock %}
{% block content %}

  <div class="row">
    <div class="col-xs-12">
      <div class="alert alert-primary alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-check"></i> Welcome!</h4>
        All system operating. How is your day?
      </div>
    </div>
  </div>

  <div class="row">

    <!-- SERVERS BOX -->
    <div class="col-lg-4 col-xs-6">
      <div class="small-box bg-green">
        <div class="inner">
          <h3>0</h3>
          <p>Servers</p>
        </div>
        <div class="icon">
          <i class="fa fa-server"></i>
        </div>
        <a href="{% url 'servers' %}" class="small-box-footer">Show&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- SERVERS BOX END -->

    <!-- UPDATE BOX -->
    <div class="col-lg-4 col-xs-6">
      <div class="small-box bg-orange">
        <div class="inner">
          <h3>0</h3>
          <p>Manual updates</p>
        </div>
        <div class="icon">
          <i class="fa fa-refresh"></i>
        </div>
        <a href="#" class="small-box-footer">Update&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- CREDITS BOX END -->

  </div>
{% endblock content %}

{% block extendfoot %}{% endblock extendfoot %}