{% extends 'base.html' %}

{% load staticfiles %}
{% block menu_homepage %}active{% endblock %}

{% block contentheader %}
    <h1>
      Home
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
    </ol>
{% endblock contentheader %}

{% block content %}
  <div class="row">

    <!-- SERVERS BOX -->
    <div class="col-lg-4 col-xs-6">
      <div class="small-box bg-primary">
        <div class="inner">
          <h3>0</h3>
          <p>Servers</p>
        </div>
        <div class="icon">
          <i class="fa fa-server"></i>
        </div>
        <a href="{% url 'servers' %}" class="small-box-footer">Show&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- SERVERS BOX END -->

    <!-- UPDATE BOX -->
    <div class="col-lg-4 col-xs-6">
      <div class="small-box bg-orange">
        <div class="inner">
          <h3>0</h3>
          <p>Manual updates</p>
        </div>
        <div class="icon">
          <i class="fa fa-refresh"></i>
        </div>
        <a href="{% url 'updates' %}" class="small-box-footer">Update&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- CREDITS BOX END -->

  </div>
{% endblock content %}

{% block extendfoot %}{% endblock extendfoot %}