{% extends 'base.html' %}

{% load staticfiles %}

{% block menu_servers %}active{% endblock %}

{% block extendhead %}
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
{% endblock extendhead %}

{% block contentheader %}
    <h1>
      Servers
      <small>All categories</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-server"></i> Servers</a></li>
      <li class="active">All categories</li>
    </ol>
{% endblock contentheader %}

{% block content %}
<div class="box">
    <div class="box-header">
      <h3 class="box-title">Servers</h3>

      <div class="box-tools">
        <ul class="pagination pagination-sm no-margin pull-right">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
      </div>
    </div>
    <div class="box-body no-padding">
        <table id="servers" class="table">
            <thead>
                <tr>
                  <th style="width: 60px;">OS</th>
                  <th>Hostname</th>
                  <th>IP Address</th>
                  <th>SSH port</th>
                  <th style="width: 40px">Status</th>
                </tr>
            </thead>
            <tr>
                <td><i class="devicon-debian-plain"></i></td>
                <td>SuperHost</td>
                <td>32.51.23.55</td>
                <td>22</td>
                <td><span class="badge bg-green">UPDATED</span></td>
            </tr>
            <tr>
                <td><i class="devicon-debian-plain"></i></td>
                <td>SuperHost</td>
                <td>32.51.23.55</td>
                <td>22</td>
                <td><span class="badge bg-green">UPDATED</span></td>
            </tr>
            <tr>
                <td><i class="devicon-debian-plain"></i></td>
                <td>SuperHost</td>
                <td>32.51.23.55</td>
                <td>22</td>
                <td><span class="badge bg-green">UPDATED</span></td>
            </tr>
        </table>
    </div>
</div>

<div class="box">
  <div class="alert alert-primary">
    <h4><i class="icon fa fa-plus-circle"></i> How to add new server?</h4>
    You can add new server within seconds. Just run the following command as a root user on machine you want to add.
    <div class="input-group">
        <input type="text" class="form-control" value="wget ...">
        <span class="input-group-addon"><i class="fa fa-clipboard"></i></span>
    </div>
  </div>
</div>
{% endblock content %}

{% block extendfoot %}{% endblock extendfoot %}