{% extends 'base.html' %}

{% load staticfiles %}

{% block menu_server %}active{% endblock %}

{% block extendhead %}
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
{% endblock extendhead %}

{% block contentheader %}
    <h1>
      Server details
      <small>{{ object.hostname }}</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="{% url 'servers' %}"><i class="fa fa-server"></i> Servers</a></li>
      <li class="active">Details</li>
    </ol>
{% endblock contentheader %}

{% block content %}
hihi
{% endblock content %}